@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
  background-color: #ec4899; /* Tailwind pink-500 */
  color: white;
  padding: 0.5rem 0;
  text-align: center;
}

footer a {
  color: white;
  margin: 0 0.5rem;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


.task-card {
    @apply bg-white p-6 rounded-lg shadow-md mb-4 flex items-center justify-between;
  }
  
  .task-title {
    @apply text-lg font-bold text-gray-700;
  }
  
  .task-description {
    @apply text-gray-500;
  }
  
  .new-task-btn {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
  
  .view-task-btn {
    @apply text-blue-500 hover:text-blue-700;
  }
  
  .status-dot {
    @apply h-2 w-2 bg-green-500 rounded-full inline-block mr-2;
  }
  
  .status-text {
    @apply text-sm text-gray-700;
  }

  .divider hr {
    @apply my-4;
}

.task-form {
  @apply flex flex-col md:flex-row  gap-4;
}

.task-form input,
.task-form button {
  @apply w-full;
}

.task-actions {
  @apply flex justify-between;
}

/* Sidebar accesible en dispositivos móviles */
@media (max-width: 768px) {
  .sidebar {
    @apply block fixed top-0 left-0 h-full bg-gray-800 text-white w-64 z-50;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .sidebar-close {
    @apply absolute top-4 right-4 text-white;
  }

  .main-content {
    margin-left: 0;
  }

  .home-container.open {
    padding-left: 16rem;
  }
}

/* Para el enfoque móvil primero y luego pantallas más grandes */
@media (min-width: 768px) {
  aside {
    @apply transform-none;
  }

  .home-container {
    margin-left: 16rem;
  }
}

.home-container {
  @apply flex flex-col items-center justify-center min-h-screen bg-gray-100 p-4;
}

.home-container h1 {
  @apply text-4xl font-bold mb-8 text-center;
}

.home-container .grid {
  @apply grid-cols-1 sm:grid-cols-2 gap-6 w-full max-w-6xl;
}

.home-container .group div {
  @apply p-6 rounded-lg shadow-lg transform transition-transform flex flex-col justify-center items-center h-48;
}

.home-container .group div:hover {
  @apply scale-105;
}